<h1>{{anime.title}}</h1>

<p>{{anime.description}}</p>

<p>{{anime.characters}}</p>

<p>{{anime.genre}}</p>

<p>{{anime.airDate}}</p>

<a href="/anime/update/{{anime._id}}">Update</a>
<a href="/anime/delete/{{anime._id}}">Delete</a>
<br/>


<a href="/anime/user-anime-library">Go back to anime library</a>

<a href="/profile">MY PROFILE</a>

{{!-- Show reviews here --}}